package views

import (
	"github.com/jkulzer/foryoum/v2/translations"
)

templ GenericError(message string, customContent string, t translations.Translations, isLoggedIn bool) {
	@CustomContent(customContent)
	@Navbar(t, isLoggedIn)
	<h1>{ message } </h1>
}
