package views

templ Logout(isLoggedIn bool) {
		<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
	@Navbar()
	if isLoggedIn {
		<div>
			<h1>Logout</h1>
			<form hx-post="/logout" >
				<button type="submit">Logout</button>
			</form>
		</div>
	}
}
