package views

import (
	"github.com/jkulzer/foryoum/v2/translations"
)

templ Main(content string, customContent string, t translations.Translations, isLoggedIn bool) {
	<script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
	@CustomContent(customContent)
	@Navbar(t, isLoggedIn)
	@templ.Raw(content)
}
